.container{
    border-bottom-left-radius: initial;
    border-bottom-right-radius: initial;
}

.headerImage{
    margin: 2vh;
}

nav{
    border-top-left-radius: initial;
    border-top-right-radius: initial;
    font-size: .85em;
}

.profilepic{
    float: initial;
    width: 75vw;
    margin: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.column-box{
    margin: 7px 10px;
}