/*shadows*/
body{
    max-width: 1000px;
    margin: auto;
    background-color: #F5F2F2;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

header{
    display: block;
}

nav{
    background-color: #333333;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 5px solid #638FFF;
}

nav ul{
    margin: 0;
    padding: 15px;
}

nav ul li{
    display: inline;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main{   
    display: flex;
    flex-direction: row;
    margin: auto;
}

.posts{
    background-color: white;
    border-top-left-radius: 5px;
    flex: 3;
    padding: 15px 20px;
}

aside{
    display: flex;
    flex: 1;
    background-color: white;
}

.comments{
    padding: 25px 20px;
    background-color: #FAFAFA;
    margin: 10px;
    margin-left: 0;
    border-radius: 1px;
}

footer{
    align-content: center;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    padding: 10px;
    color: #F5F2F2;
    background-color: #333333;
    margin-top: -1px;
    font-size: smaller;
}