body{
    max-width: 1000px;
    margin: auto;
    background-color: #F5F2F2;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.container{
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    overflow: auto;
}

header{
    display: inline;
    margin-left: auto;
    margin-right: auto;
}

nav{
    background-color: #333333;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 5px solid #638FFF;
    box-shadow: inherit;
}

nav ul{
    margin: 0;
    padding: 12px;
    text-align: center;
    height: auto;
}

nav ul li{
    display: inline-block;
    margin: 0 20px;
}

nav ul li a{
    display: block;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: #F5F2F2;
}

main{   
    display: flex;
    flex-direction: row;
    margin: auto;
}

.posts{
    font-family: 'Roboto', sans-serif;
    background-color: white;
    flex: 3;
    padding: 15px 30px;
}

.profilepic{
    object-fit: cover;
    float: left;
    margin-right: 15px;
}

.r-column{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: white;
    border-style: none;
    width: 100%;
}

.column-box{
    padding: 25px 20px;
    background-color: #FAFAFA;
    margin: 7px 10px;
    margin-left: 0;
    border-radius: 1px;
}

.box-txt{
    text-align: center;
}

.mail-form{
    border-radius: 10px;
    border: 1px solid #638FFF;;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}


#email{
    border: 1px solid transparent;
    align-items: center;
    flex: 8;
    outline: none;
    padding-left: 8px;
}

#send{
    border: 1px solid transparent;
    flex: 1;
    background-color: #638FFF;
    color: white;
}

footer{
    text-align: center;
    padding: 10px;
    color: #F5F2F2;
    background-color: #333333;
    margin-top: -1px;
    font-size: smaller;
}